In [1]:
import pandas as pd
import numpy as np
import os
import sys
import plotly
import plotly.graph_objs as go
    
%load_ext autoreload
%autoreload 1

pd.set_option("display.max_columns",201)
pd.set_option("display.max_colwidth",101)
pd.set_option("display.max_rows",500)

In [2]:
from arctic import Arctic, CHUNK_STORE

conn = Arctic('10.213.120.5')
conn.initialize_library('entsoe', lib_type=CHUNK_STORE)
conn.list_libraries()
lib = conn['entsoe']

c:\users\a0743104\appdata\local\programs\python\python38-32\lib\site-packages\arctic\_util.py:6: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal
c:\users\a0743104\appdata\local\programs\python\python38-32\lib\site-packages\arctic\store\_pandas_ndarray_store.py:6: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import DataFrame, Series, Panel
Library created, but couldn't enable sharding: no such command: 'enablesharding'. This is OK if you're not 'admin'

In [3]:
# Input country

country = input("Enter the perimeter (DE/FR/BE/ES/IT/PL) : ")

Enter the perimeter (DE/FR/BE/ES/IT/PL) : DE

In [4]:
# function to change timezone from UTC to local time

def changing_timezone(x):
    ts = x.index.tz_localize('utc').tz_convert('Europe/Brussels')
    y = x.set_index(ts)
    return y.tz_localize(None)

In [5]:
# define dates

from datetime import datetime
from datetime import timedelta
from datetime import date

ref_date = datetime(year=2019, month=1, day=1).date()
start_date = ref_date + timedelta(days = - 1)

end_date = date.today().replace(day=1)

In [8]:
# Read Spot price

read = 'DayAheadPrices'
prefix = read + '_' + country 

df_DA_price = lib.read(prefix, chunk_range=pd.date_range(start_date, end_date))

# changing timezones 
df_DA_price = changing_timezone(df_DA_price)

In [6]:
# Read installed capacity data

read = 'InstalledGenerationCapacityAggregated'
prefix = read + '_' + country 

df_inst_cap = lib.read(prefix, chunk_range=pd.date_range(start_date, end_date))

In [7]:
# converting annual indexes to hourly indexes

date_range = pd.date_range(start_date, end_date, freq='h')
df_inst_cap=df_inst_cap.reindex(date_range, method='ffill')

# changing timezones 
df_inst_cap = changing_timezone(df_inst_cap)

In [8]:
prefix = read + ' ' + country 
df_RES = pd.DataFrame()
df_RES = df_inst_cap[[prefix+' '+'Solar',prefix+' '+'Wind Onshore']]
try:
    df_RES[prefix+' '+'Wind Offshore'] = df_inst_cap[[prefix+' '+'Wind Offshore']]
except KeyError:
    pass

<ipython-input-8-9e720c52bd3a>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_RES[prefix+' '+'Wind Offshore'] = df_inst_cap[[prefix+' '+'Wind Offshore']]

In [9]:
# Read power generation data

read = 'AggregatedGenerationPerType'
prefix = read + '_' + country 

df_gen = lib.read(prefix,chunk_range=pd.date_range(start_date, end_date))

# convert 15 min data to hourly data
df_gen = df_gen.resample('H').mean()

# changing timezones 
df_gen = changing_timezone(df_gen)

In [13]:
read = ['InstalledGenerationCapacityAggregated','ActualGenerationOutput']
df = [df_inst_cap, df_gen]
var = ['Solar','Wind Onshore', 'Wind Offshore']

df_RES = pd.DataFrame()

k = 0
for i in read:
    prefix = i + ' ' + country 
    for j in var:
        try:
            df_RES = pd.concat([df_RES,df[k][prefix+' '+j]],axis=1)
        except KeyError:
            pass 
    k+=1
    
df_RES.index = pd.to_datetime(df_RES.index)

In [14]:
df_DA_price =df_DA_price[~df_DA_price.index.duplicated()]
df_RES =df_RES[~df_RES.index.duplicated()]

In [15]:
df_merge = pd.DataFrame()
df_merge = df_merge.append(df_DA_price)
for i in var:
    try:
        df_merge = pd.merge(df_merge,df_RES[prefix+' '+i],how='outer',right_index=True, left_index=True)
        df_merge['Tot_Cap_Price'+' '+i] = df_merge['DayAheadPrices_'+country]*df_RES[prefix+' '+i]
    except KeyError:
        pass

In [16]:
df_data= df_merge.iloc[(df_merge.index.year >=2016)&(df_merge.index.date<end_date)]

In [17]:
df_data_daily = df_data.groupby(df_data.index.date).mean()

In [18]:
for i in var:
    try:
        df_data_daily['Cap_Price' +'_'+i] = df_data_daily['Tot_Cap_Price' +' '+ i]/df_data_daily[prefix + ' ' + i]
    except KeyError:
        pass

In [19]:
df_data_monthly = df_data.groupby([(df_data.index.year),(df_data.index.month)]).mean()

In [20]:
for i in var:
    try:
        df_data_monthly['Cap_Price' +'_'+i] = df_data_monthly['Tot_Cap_Price' +' '+ i]/df_data_monthly[prefix + ' ' + i]
    except KeyError:
        pass

In [22]:
df_data_monthly['Qf_Solar'] = df_data_monthly['Cap_Price_Solar']/df_data_monthly['DayAheadPrices_'+country]

In [23]:
df_data_monthly['Qf_Wind Onshore'] = df_data_monthly['Cap_Price_Wind Onshore']/df_data_monthly['DayAheadPrices_'+country]

In [24]:
try:
    df_data_monthly['Qf_Wind Offshore'] = df_data_monthly['Cap_Price_Wind Offshore']/df_data_monthly['DayAheadPrices_'+country]
except KeyError:
    pass

In [43]:
try:
    df_final = df[['DayAheadPrices_'+country,'Cap_Price_Solar','Qf_Solar', 'Cap_Price_Wind Onshore','Qf_Wind Onshore','Cap_Price_Wind Offshore', 'Qf_Wind Offshore']]
except KeyError:
    df_final = df[['DayAheadPrices_'+country,'Cap_Price_Solar','Qf_Solar', 'Cap_Price_Wind Onshore','Qf_Wind Onshore']]
df_final = df_final.transpose()

In [40]:
import calendar 

df = df_data_monthly

#Use calendar library for abbreviations and order
dd=dict((enumerate(calendar.month_abbr)))

#rename level zero of multiindex
df = df.rename(index=dd,level=1)

#Create calendar month data type with order for sorting
cal_dtype = pd.CategoricalDtype(list(calendar.month_abbr), ordered=True)

#Change the dtype of the level zero index
df.index = df.index.set_levels(df.index.levels[1].astype(cal_dtype), level=1)

          DayAheadPrices_ES  ActualGenerationOutput ES Solar  \
2016 Jan              36.53                           524.84
     Feb              27.50                           829.09
     Mar              27.83                          1403.32
     Apr              24.11                          1495.70
     May              25.77                          1670.93
     Jun              38.90                          2309.87
     Jul              40.53                          2240.46
     Aug              41.16                          2158.95
     Sep              43.59                          1783.26
     Oct              52.84                          1080.16
     Nov              56.13                           728.48
     Dec              60.49                           632.69
2017 Jan              71.49                           803.73
     Feb              51.74                           744.95
     Mar              43.21                          1315.81
     Apr              43.69                          1808.28
     May              47.11                          1921.31
     Jun              50.22                          2170.54
     Jul              48.63                          2227.13
     Aug              47.46                          1951.10
     Sep              49.15                          1881.08
     Oct              56.79                          1371.27
     Nov              59.19                           976.77
     Dec              57.94                           726.95
2018 Jan              49.98                           717.84
     Feb              54.88                          1075.43
     Mar              40.18                          1087.71
     Apr              42.67                          1420.64
     May              54.92                          1729.90
     Jun              58.46                          1878.86
     Jul              61.88                          2396.38
     Aug              64.33                          2047.97
     Sep              71.27                          1633.39
     Oct              65.10                          1141.84
     Nov              61.97                           608.82
     Dec              61.81                           707.30
2019 Jan              61.99                           887.15
     Feb              54.01                          1321.74
     Mar              48.82                          1702.66
     Apr              50.41                          1417.60
     May              48.39                          2208.48
     Jun              47.19                          2366.43
     Jul              51.46                          2367.63
     Aug              44.96                          2487.88
     Sep              42.11                          1849.50
     Oct              47.17                          1494.08
     Nov              42.19                           827.83
     Dec              33.80                           796.53
2020 Jan              41.10                           975.29
     Feb              35.87                          1728.03
     Mar              27.74                          1744.04
     Apr              17.65                          1927.13
     May              21.25                          3033.97
     Jun              30.62                          3527.00
     Jul              34.64                          3686.74
     Aug              36.20                          3496.65
     Sep              41.96                          2680.07
     Oct              36.61                          2216.13
     Nov              41.94                          1256.87
     Dec              41.97                          1072.22
2021 Jan              60.17                          1238.78

          Tot_Cap_Price Solar  ActualGenerationOutput ES Wind Onshore  \
2016 Jan             20789.85                                 7595.55
     Feb             25544.84                                 8743.54
     Mar             38309.58                                 7317.55
     Apr             36701.79                                 6207.22
     May             45411.19                                 5286.20
     Jun             90681.71                                 4513.01
     Jul             94347.35                                 4684.02
     Aug             91643.01                                 4882.63
     Sep             79484.67                                 3717.76
     Oct             57083.38                                 3206.38
     Nov             43122.30                                 5365.53
     Dec             39554.27                                 3630.42
2017 Jan             60137.33                                 6425.68
     Feb             40493.62                                 7231.26
     Mar             58403.75                                 6329.69
     Apr             79119.19                                 5733.70
     May             91806.11                                 4626.07
     Jun            112196.56                                 4365.96
     Jul            111178.79                                 4449.26
     Aug             95322.39                                 4386.90
     Sep             93084.92                                 3881.38
     Oct             79422.26                                 4173.02
     Nov             59074.72                                 5369.83
     Dec             46959.73                                 7697.39
2018 Jan             38090.06                                 7105.46
     Feb             60123.80                                 6937.32
     Mar             44094.37                                10349.50
     Apr             60940.52                                 6142.02
     May             93951.11                                 4371.22
     Jun            110656.05                                 3579.65
     Jul            151480.16                                 3335.76
     Aug            135938.10                                 4104.62
     Sep            118754.47                                 3316.17
     Oct             76970.87                                 5728.75
     Nov             39167.71                                 6279.58
     Dec             45476.77                                 5801.81
2019 Jan             57093.60                                 8037.26
     Feb             72203.18                                 5415.96
     Mar             83915.14                                 6470.25
     Apr             74335.41                                 6393.21
     May            107512.16                                 6132.82
     Jun            111250.36                                 4443.98
     Jul            125209.50                                 4308.14
     Aug            113719.93                                 3604.95
     Sep             79533.17                                 5187.03
     Oct             70016.07                                 4902.49
     Nov             35246.18                                 9959.55
     Dec             28685.34                                 6921.62
2020 Jan             40628.97                                 6108.59
     Feb             60742.27                                 5951.26
     Mar             48678.14                                 7332.97
     Apr             32485.43                                 5018.71
     May             63359.68                                 5174.66
     Jun            106514.72                                 4514.02
     Jul            129942.29                                 5443.39
     Aug            126616.00                                 4634.03
     Sep            111875.78                                 5391.07
     Oct             79384.34                                 7468.01
     Nov             52934.33                                 5703.94
     Dec             46382.82                                 9752.10
2021 Jan             79220.48                                 9540.12

          Tot_Cap_Price Wind Onshore  ActualGenerationOutput ES Wind Offshore  \
2016 Jan                   239677.17                                     0.00
     Feb                   206644.85                                     0.00
     Mar                   178584.82                                     0.00
     Apr                   137734.70                                     0.00
     May                   120503.21                                     0.00
     Jun                   166760.81                                     0.00
     Jul                   186360.78                                     0.00
     Aug                   195918.56                                     0.00
     Sep                   159450.72                                     0.00
     Oct                   163354.01                                     0.00
     Nov                   285424.67                                     0.00
     Dec                   214050.29                                     0.00
2017 Jan                   457362.87                                     0.00
     Feb                   355820.06                                     0.00
     Mar                   256945.34                                     0.00
     Apr                   234586.62                                     0.00
     May                   208758.83                                     0.00
     Jun                   211976.60                                     0.00
     Jul                   214316.74                                     0.00
     Aug                   202864.20                                     0.00
     Sep                   183208.89                                     0.00
     Oct                   229059.39                                     0.00
     Nov                   305164.95                                     0.00
     Dec                   418509.54                                     0.00
2018 Jan                   332516.56                                     0.00
     Feb                   371932.65                                     0.00
     Mar                   399957.88                                     0.00
     Apr                   244411.57                                     0.00
     May                   221320.14                                     0.00
     Jun                   204545.02                                     0.00
     Jul                   203865.91                                     0.00
     Aug                   260168.97                                     0.00
     Sep                   232283.89                                     0.00
     Oct                   358779.80                                     0.00
     Nov                   379745.99                                     0.00
     Dec                   351592.46                                     0.00
2019 Jan                   486031.96                                     0.00
     Feb                   277805.67                                     0.00
     Mar                   302067.44                                     0.00
     Apr                   303088.36                                     0.00
     May                   281087.07                                     0.00
     Jun                   204465.23                                     0.00
     Jul                   218602.95                                     0.00
     Aug                   157991.60                                     0.00
     Sep                   203288.55                                     0.00
     Oct                   222721.36                                     0.00
     Nov                   398372.43                                     0.00
     Dec                   221391.03                                     0.00
2020 Jan                   237862.47                                     0.00
     Feb                   196684.10                                     0.00
     Mar                   189664.71                                     0.00
     Apr                    78108.66                                     0.00
     May                    99903.99                                     0.00
     Jun                   128332.32                                     0.00
     Jul                   184639.79                                     0.00
     Aug                   163964.73                                     0.00
     Sep                   206237.24                                     0.00
     Oct                   249433.44                                     0.00
     Nov                   225607.83                                     0.00
     Dec                   386540.49                                     0.00
2021 Jan                   509894.28                                     0.00

          Tot_Cap_Price Wind Offshore  Cap_Price_Solar  \
2016 Jan                         0.00            39.61
     Feb                         0.00            30.81
     Mar                         0.00            27.30
     Apr                         0.00            24.54
     May                         0.00            27.18
     Jun                         0.00            39.26
     Jul                         0.00            42.11
     Aug                         0.00            42.45
     Sep                         0.00            44.57
     Oct                         0.00            52.85
     Nov                         0.00            59.19
     Dec                         0.00            62.52
2017 Jan                         0.00            74.82
     Feb                         0.00            54.36
     Mar                         0.00            44.39
     Apr                         0.00            43.75
     May                         0.00            47.78
     Jun                         0.00            51.69
     Jul                         0.00            49.92
     Aug                         0.00            48.86
     Sep                         0.00            49.48
     Oct                         0.00            57.92
     Nov                         0.00            60.48
     Dec                         0.00            64.60
2018 Jan                         0.00            53.06
     Feb                         0.00            55.91
     Mar                         0.00            40.54
     Apr                         0.00            42.90
     May                         0.00            54.31
     Jun                         0.00            58.90
     Jul                         0.00            63.21
     Aug                         0.00            66.38
     Sep                         0.00            72.70
     Oct                         0.00            67.41
     Nov                         0.00            64.33
     Dec                         0.00            64.30
2019 Jan                         0.00            64.36
     Feb                         0.00            54.63
     Mar                         0.00            49.28
     Apr                         0.00            52.44
     May                         0.00            48.68
     Jun                         0.00            47.01
     Jul                         0.00            52.88
     Aug                         0.00            45.71
     Sep                         0.00            43.00
     Oct                         0.00            46.86
     Nov                         0.00            42.58
     Dec                         0.00            36.01
2020 Jan                         0.00            41.66
     Feb                         0.00            35.15
     Mar                         0.00            27.91
     Apr                         0.00            16.86
     May                         0.00            20.88
     Jun                         0.00            30.20
     Jul                         0.00            35.25
     Aug                         0.00            36.21
     Sep                         0.00            41.74
     Oct                         0.00            35.82
     Nov                         0.00            42.12
     Dec                         0.00            43.26
2021 Jan                         0.00            63.95

          Cap_Price_Wind Onshore  Cap_Price_Wind Offshore  Qf_Solar  \
2016 Jan                   31.55                      nan      1.08
     Feb                   23.63                      nan      1.12
     Mar                   24.41                      nan      0.98
     Apr                   22.19                      nan      1.02
     May                   22.80                      nan      1.05
     Jun                   36.95                      nan      1.01
     Jul                   39.79                      nan      1.04
     Aug                   40.13                      nan      1.03
     Sep                   42.89                      nan      1.02
     Oct                   50.95                      nan      1.00
     Nov                   53.20                      nan      1.05
     Dec                   58.96                      nan      1.03
2017 Jan                   71.18                      nan      1.05
     Feb                   49.21                      nan      1.05
     Mar                   40.59                      nan      1.03
     Apr                   40.91                      nan      1.00
     May                   45.13                      nan      1.01
     Jun                   48.55                      nan      1.03
     Jul                   48.17                      nan      1.03
     Aug                   46.24                      nan      1.03
     Sep                   47.20                      nan      1.01
     Oct                   54.89                      nan      1.02
     Nov                   56.83                      nan      1.02
     Dec                   54.37                      nan      1.11
2018 Jan                   46.80                      nan      1.06
     Feb                   53.61                      nan      1.02
     Mar                   38.65                      nan      1.01
     Apr                   39.79                      nan      1.01
     May                   50.63                      nan      0.99
     Jun                   57.14                      nan      1.01
     Jul                   61.12                      nan      1.02
     Aug                   63.38                      nan      1.03
     Sep                   70.05                      nan      1.02
     Oct                   62.63                      nan      1.04
     Nov                   60.47                      nan      1.04
     Dec                   60.60                      nan      1.04
2019 Jan                   60.47                      nan      1.04
     Feb                   51.29                      nan      1.01
     Mar                   46.69                      nan      1.01
     Apr                   47.41                      nan      1.04
     May                   45.83                      nan      1.01
     Jun                   46.01                      nan      1.00
     Jul                   50.74                      nan      1.03
     Aug                   43.83                      nan      1.02
     Sep                   39.19                      nan      1.02
     Oct                   45.43                      nan      0.99
     Nov                   40.00                      nan      1.01
     Dec                   31.99                      nan      1.07
2020 Jan                   38.94                      nan      1.01
     Feb                   33.05                      nan      0.98
     Mar                   25.86                      nan      1.01
     Apr                   15.56                      nan      0.95

In [44]:
df_final

                         2016                                                  \
                          Jan   Feb   Mar   Apr   May   Jun   Jul   Aug   Sep
DayAheadPrices_ES       36.53 27.50 27.83 24.11 25.77 38.90 40.53 41.16 43.59
Cap_Price_Solar         39.61 30.81 27.30 24.54 27.18 39.26 42.11 42.45 44.57
Qf_Solar                 1.08  1.12  0.98  1.02  1.05  1.01  1.04  1.03  1.02
Cap_Price_Wind Onshore  31.55 23.63 24.41 22.19 22.80 36.95 39.79 40.13 42.89
Qf_Wind Onshore          0.86  0.86  0.88  0.92  0.88  0.95  0.98  0.97  0.98
Cap_Price_Wind Offshore   nan   nan   nan   nan   nan   nan   nan   nan   nan
Qf_Wind Offshore          nan   nan   nan   nan   nan   nan   nan   nan   nan

                                           2017                                \
                          Oct   Nov   Dec   Jan   Feb   Mar   Apr   May   Jun
DayAheadPrices_ES       52.84 56.13 60.49 71.49 51.74 43.21 43.69 47.11 50.22
Cap_Price_Solar         52.85 59.19 62.52 74.82 54.36 44.39 43.75 47.78 51.69
Qf_Solar                 1.00  1.05  1.03  1.05  1.05  1.03  1.00  1.01  1.03
Cap_Price_Wind Onshore  50.95 53.20 58.96 71.18 49.21 40.59 40.91 45.13 48.55
Qf_Wind Onshore          0.96  0.95  0.97  1.00  0.95  0.94  0.94  0.96  0.97
Cap_Price_Wind Offshore   nan   nan   nan   nan   nan   nan   nan   nan   nan
Qf_Wind Offshore          nan   nan   nan   nan   nan   nan   nan   nan   nan

                                                             2018              \
                          Jul   Aug   Sep   Oct   Nov   Dec   Jan   Feb   Mar
DayAheadPrices_ES       48.63 47.46 49.15 56.79 59.19 57.94 49.98 54.88 40.18
Cap_Price_Solar         49.92 48.86 49.48 57.92 60.48 64.60 53.06 55.91 40.54
Qf_Solar                 1.03  1.03  1.01  1.02  1.02  1.11  1.06  1.02  1.01
Cap_Price_Wind Onshore  48.17 46.24 47.20 54.89 56.83 54.37 46.80 53.61 38.65
Qf_Wind Onshore          0.99  0.97  0.96  0.97  0.96  0.94  0.94  0.98  0.96
Cap_Price_Wind Offshore   nan   nan   nan   nan   nan   nan   nan   nan   nan
Qf_Wind Offshore          nan   nan   nan   nan   nan   nan   nan   nan   nan

                                                                               \
                          Apr   May   Jun   Jul   Aug   Sep   Oct   Nov   Dec
DayAheadPrices_ES       42.67 54.92 58.46 61.88 64.33 71.27 65.10 61.97 61.81
Cap_Price_Solar         42.90 54.31 58.90 63.21 66.38 72.70 67.41 64.33 64.30
Qf_Solar                 1.01  0.99  1.01  1.02  1.03  1.02  1.04  1.04  1.04
Cap_Price_Wind Onshore  39.79 50.63 57.14 61.12 63.38 70.05 62.63 60.47 60.60
Qf_Wind Onshore          0.93  0.92  0.98  0.99  0.99  0.98  0.96  0.98  0.98
Cap_Price_Wind Offshore   nan   nan   nan   nan   nan   nan   nan   nan   nan
Qf_Wind Offshore          nan   nan   nan   nan   nan   nan   nan   nan   nan

                         2019                                                  \
                          Jan   Feb   Mar   Apr   May   Jun   Jul   Aug   Sep
DayAheadPrices_ES       61.99 54.01 48.82 50.41 48.39 47.19 51.46 44.96 42.11
Cap_Price_Solar         64.36 54.63 49.28 52.44 48.68 47.01 52.88 45.71 43.00
Qf_Solar                 1.04  1.01  1.01  1.04  1.01  1.00  1.03  1.02  1.02
Cap_Price_Wind Onshore  60.47 51.29 46.69 47.41 45.83 46.01 50.74 43.83 39.19
Qf_Wind Onshore          0.98  0.95  0.96  0.94  0.95  0.97  0.99  0.97  0.93
Cap_Price_Wind Offshore   nan   nan   nan   nan   nan   nan   nan   nan   nan
Qf_Wind Offshore          nan   nan   nan   nan   nan   nan   nan   nan   nan

                                           2020                                \
                          Oct   Nov   Dec   Jan   Feb   Mar   Apr   May   Jun
DayAheadPrices_ES       47.17 42.19 33.80 41.10 35.87 27.74 17.65 21.25 30.62
Cap_Price_Solar         46.86 42.58 36.01 41.66 35.15 27.91 16.86 20.88 30.20
Qf_Solar                 0.99  1.01  1.07  1.01  0.98  1.01  0.95  0.98  0.99
Cap_Price_Wind Onshore  45.43 40.00 31.99 38.94 33.05 25.86 15.56 19.31 28.43
Qf_Wind Onshore          0.96  0.95  0.95  0.95  0.92  0.93  0.88  0.91  0.93
Cap_Price_Wind Offshore   nan   nan   nan   nan   nan   nan   nan   nan   nan
Qf_Wind Offshore          nan   nan   nan   nan   nan   nan   nan   nan   nan

                                                             2021
                          Jul   Aug   Sep   Oct   Nov   Dec   Jan
DayAheadPrices_ES       34.64 36.20 41.96 36.61 41.94 41.97 60.17
Cap_Price_Solar         35.25 36.21 41.74 35.82 42.12 43.26 63.95
Qf_Solar                 1.02  1.00  0.99  0.98  1.00  1.03  1.06
Cap_Price_Wind Onshore  33.92 35.38 38.26 33.40 39.55 39.64 53.45
Qf_Wind Onshore          0.98  0.98  0.91  0.91  0.94  0.94  0.89
Cap_Price_Wind Offshore   nan   nan   nan   nan   nan   nan   nan
Qf_Wind Offshore          nan   nan   nan   nan   nan   nan   nan

In [28]:
df_final.to_html('RES_Capture_Prices_'+country+'.html')

In [45]:
filename = 'Hist_cap_price.xlsx'

In [49]:
import openpyxl

df_final.to_excel(filename, sheet_name=country)